<a href="https://colab.research.google.com/github/temmyzeus/Tensorflow-Courses/blob/master/DeepLearning.AI%20TensorFlow%20Developer%20Professional%20Certificate/Natural%20Language%20Processing%20with%20Tensorflow/IMDB_Subwords8k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow_datasets as tfds

In [5]:
imdb, info = tfds.load(
    'imdb_reviews/subwords8k',
    with_info=True,
    as_supervised=True
)

WARNING:absl:TFDS datasets with text encoding are deprecated and will be removed in a future version. Instead, you should use the plain text version and tokenize the text using `tensorflow_text` (See: https://www.tensorflow.org/tutorials/tensorflow_text/intro#tfdata_example)

In [7]:
train = imdb['train']
test = imdb['test']
# Get Subword Text Encoder
encoder = info.features['text'].encoder

In [31]:
list(train.take(1))

[(<tf.Tensor: shape=(163,), dtype=int64, numpy=
  array([  62,   18,   41,  604,  927,   65,    3,  644, 7968,   21,   35,
         5096,   36,   11,   43, 2948, 5240,  102,   50,  681, 7862, 1244,
            3, 3266,   29,  122,  640,    2,   26,   14,  279,  438,   35,
           79,  349,  384,   11, 1991,    3,  492,   79,  122,  188,  117,
           33, 4047, 4531,   14,   65, 7968,    8, 1819, 3947,    3,   62,
           27,    9,   41,  577, 5044, 2629, 2552, 7193, 7961, 3642,    3,
           19,  107, 3903,  225,   85,  198,   72,    1, 1512,  738, 2347,
          102, 6245,    8,   85,  308,   79, 6936, 7961,   23, 4981, 8044,
            3, 6429, 7961, 1141, 1335, 1848, 4848,   55, 3601, 4217, 8050,
            2,    5,   59, 3831, 1484, 8040, 7974,  174, 5773,   22, 5240,
          102,   18,  247,   26,    4, 3903, 1612, 3902,  291,   11,    4,
           27,   13,   18, 4092, 4008, 7961,    6,  119,  213, 2774,    3,
           12,  258, 2306,   13,   91,   29,  171,   52,  229,    2, 1245,
         5790,  995, 7968,    8,   52, 2948, 5240, 8039, 7968,    8,   74,
         1249,    3,   12,  117, 2438, 1369,  192,   39, 7975])>,
  <tf.Tensor: shape=(), dtype=int64, numpy=0>)]

In [60]:
# convert sample_tokens to text
sample_tokens = list(train.take(1))[0][0]
sample_label = list(train.take(1))[0][1]
encoder.decode(sample_tokens)

"This was an absolutely terrible movie. Don't be lured in by Christopher Walken or Michael Ironside. Both are great actors, but this must simply be their worst role in history. Even their great acting could not redeem this movie's ridiculous storyline. This movie is an early nineties US propaganda piece. The most pathetic scenes were those when the Columbian rebels were making their cases for revolutions. Maria Conchita Alonso appeared phony, and her pseudo-love affair with Walken was nothing but a pathetic emotional plug in a movie that was devoid of any real meaning. I am disappointed that there are movies like this, ruining actor's like Christopher Walken's good name. I could barely sit through it."